{% extends 'index.html' %}

{% block main %}
<div class="container">
    <div>
        <div style="text-align: center">
            <h3>
                <p>Given an <b><u>Author</u></b>, display all tweets that mentions the author sorted by datetime.</p>
            </h3>
        </div>
        <form method="post" action="/query/4">
            <div class="form-group">
                <label for="authorid">Author</label>
                <input type="text" class="form-control" id="authorid" aria-describedby="help text" placeholder="Enter Author" name="author">
            </div>
          <button type="submit" class="btn btn-primary" style="text-align: center;">Submit</button>
        </form>
    </div>

    {% if request.method == "POST" %}
        {% if status == 1 %}
            <div class="container" >
                {% for i in output %}
                    {{ i }}
                {% endfor %}
            </div>
        {% else %}
            <div class="container" style="text-align: center">
                <h4>{{error}}</h4>
            </div>
        {% endif %}
    {% endif %}
</div>

{% endblock main %}
